<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-center">
      <span class="h4 block m-b-sm"> {{ panelTitle }} </span>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <form [formGroup]="searchForm">
          <div class="col-lg-1">
            <select formControlName="year" class="form-control w-xs">
              <option value="">전체</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
          </div>
          <div class="col-lg-1 se" >
            <select formControlName="month" class="form-control w-xs">
              <option value="">전체</option>
              <option *ngFor="let month of arr_month" value="{{month}}">{{month+"월"}}</option>
            </select>
          </div>
          <div class="col-lg-1 se">
            <select formControlName="pay_num" class="form-control w-xs">
              <option value="1">1</option>
            </select>
          </div>
          <div class="col-lg-1 se">
            <select formControlName="pay_type" class="form-control w-xs">
              <option value="">전체</option>
              <option value="10">급여</option>
              <option value="20">급여상여</option>
              <option *ngFor="let pay_type of arr_pay_type" value="{{pay_type}}">{{"상여"+pay_type+"회"}}</option>
            </select>
          </div>
          <div class="col-lg-2 se">
            <button (click)="getAll()" [disabled]="!searchForm.valid" class="btn btn-default">검색</button>
          </div>
        </form>
      </div>
      <div class="col-sm-6 text-right">
        <button (click)="openModal('upload')" class="btn btn-sm btn-success btn-addon">
          <i class="glyphicon glyphicon-upload"></i>엑셀업로드
        </button>
      </div>
    </div>
  </div>


  <div class="table-responsive">
		<table class="table table-bordered b-light" style="border-top:1px solid #eaeff0">
      <thead>
        <tr>
          <th class="text-center">사원명</th>
          <th class="text-center">부서</th>
          <th class="text-center">직급</th>
          <th class="text-center">지급총액</th>
          <th class="text-center" *ngFor="let data of benefitRows">{{ data.benefit_name }}</th>
          <th class="text-center" *ngFor="let data of deductionRows">{{ data.deduction_name }}</th>
          <th class="text-center">공제합계</th>
          <th class="text-center">차인지급액</th>
          <th class="text-center">계산</th>
          <th class="text-center">수정&middot;삭제</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let dt of rows">
        <td class="text-center">{{ dt.user_id }}</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center" *ngFor="let d of dt.data">{{d}}</td>
        <td class="text-center"></td>
        <td class="text-center"></td>
        <td class="text-center">
          <button class="btn btn-xs btn-primary" (click)="openModal('write', dt)">
            <i class="glyphicon glyphicon-user"></i>
          </button>
        </td>
        <td class="text-center">
            <button class="btn btn-xs btn-primary" (click)="openModal('')">
                <i class="glyphicon glyphicon-edit"></i>
            </button>
            <a href="" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
      </tr>
      </tbody>
		</table>
  </div>
  
  <div class="panel-footer text-right">

    <a href="" class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-print"></i>인쇄</a>
    <a href="" class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-download-alt"></i>엑셀</a>

  </div>

</div>



<!-- 급여계산등록 -->
<div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      

      <form [formGroup]="inputForm">
        <div class="modal-header">
          <button type="button" class="close" (click)="InputFormModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{ inputFormTitle }}</h4>
        </div>

        <div class="modal-body">
          <input type="hidden" formControlName="year" />
          <input type="hidden" formControlName="month" />
          <input type="hidden" formControlName="user_id" />

          <div class="row">

            <div class="col-lg-6">
                <div style="padding:5px; background-color:#e6e6e6">
                 귀속년월 : {{ inputForm.value.year }}년 {{ inputForm.value.month }}월
                </div>
                <table>
                    <tr *ngFor="let benefit of benefitRows">
                      <th>
                          <label for="id_{{benefit.benefit_code}}_benefit">{{ benefit.benefit_name }}</label>
                          <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                      </th>
                      <td>
                          <input type="text" formControlName="id_{{benefit.benefit_code}}_benefit" class="form-control w-sm" /> 
                      </td>
                    </tr>
              </table>   
            </div>

            <div class="col-lg-6">   
                <div style="padding:5px; background-color:#e6e6e6">
                  사원명 : {{ userId }}
                </div>          
                <table>
                    <tr *ngFor="let deduction of deductionRows">
                      <th>
                          <label for="id_{{deduction.deduction_code}}_deduction">{{ deduction.deduction_name }}</label>
                          <span class="text-xs text-danger glyphicon glyphicon-asterisk"></span>
                      </th>
                      <td>
                          <input type="text" formControlName="id_{{deduction.deduction_code}}_deduction" class="form-control w-sm" />    
                      </td>
                    </tr>
              </table>          
            </div>

          </div>

        </div>

        <div class="modal-footer">
          <div class="text-center">
            <button type="button" (click)="Save()" [disabled]="!inputForm.valid"
              class="btn btn-primary btn-save">완료</button>
            <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
          </div>
        </div>
      </form>
    </div>


  </div>

</div>

<div *ngIf="isLoadingProgress" class="loading-progress">

  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

</div>