<div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <span class="h4 block m-b-sm"> {{ panelTitle }} </span>
      </div>
      <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6 text-right">
          <button (click)="openModal('upload','')" class="btn btn-sm btn-success btn-addon">
            <i class="glyphicon glyphicon-upload"></i>엑셀업로드
          </button>
        </div>
      </div>
    </div>
  
    <div class="panel-body input-form">
      <ngx-datatable [style.height.px]=gridHeight class="bootstrap" [rows]="rows" [columnMode]="'force'" [headerHeight]="30"
        [rowHeight]="30" [scrollbarV]="true" [scrollbarH]="false" [selectionType]="'checkbox'" [messages]="messages"
        >
        <ngx-datatable-column prop="id" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false" headerClass="checkAll" cellClass="text-center">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <label class="i-checks i-checks-sm m-b-none">
              <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" /><i></i>
            </label>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected"
            let-onCheckboxChangeFn="onCheckboxChangeFn">
            <label class="i-checks i-checks-sm m-b-none">
              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" /><i></i>
            </label>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="No" [width]="50" [canAutoResize]="false" [resizeable]="false" cellClass="text-center">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex"><span>{{rowIndex+1}}</span></ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="deduction_name" name="수당명" [width]="200" [canAutoResize]="false"  [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="acct_code" name="계정코드" [width]="200" [canAutoResize]="false"  [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column name="계산식" [resizeable]="false" [width]="200" [canAutoResize]="false"  cellClass="text-center">
          <ng-template ngx-datatable-cell-template let-row="row">
            <span>{{ object1[row.calculation_method.slice(0,1)] + " / " +  object2[row.calculation_method.slice(2,3)] }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="entry_seq" name="순서" [width]="50" [canAutoResize]="false"  [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="etc" name="비고" [resizeable]="false" cellClass="text-center"></ngx-datatable-column>
        <ngx-datatable-column prop="op" name="수정&middot;삭제" [width]="100"
        [canAutoResize]="false" [resizeable]="false" cellClass="text-center">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
          <button (click)="openModal('write',value)" class="btn btn-xs btn-primary">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
          <button (click)="openModal('delete',value)" class="btn btn-xs btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
    </div>
  
  
    <div class="panel-footer text-right">
  
      <button (click)="openModal('write','')" cd class="btn btn-sm btn-primary btn-addon">
        <i class="glyphicon glyphicon-plus"></i>등록
      </button>
      <a href="" class="btn btn-sm btn-info btn-addon"><i class="glyphicon glyphicon-print"></i>인쇄</a>
      <a href="" class="btn btn-sm btn-success btn-addon"><i class="glyphicon glyphicon-download-alt"></i>엑셀</a>
  
    </div>
  
  </div>
  
  <!-- 공제항목등록 -->
  <div bsModal #InputFormModal="bs-modal" id="input-form" class="modal fade" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <form [formGroup]="inputForm">
          <div class="modal-header">
            <button type="button" class="close" (click)="InputFormModal.hide()"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ inputFormTitle }}</h4>
          </div>
  
          <div class="modal-body">
            <input type="hidden" id="reservation_id" name="reservation_id" />
            <input type="hidden" id="goods_name" name="goods_name" />
            <input type="hidden" id="fare_per_person" name="fare_per_person" />
  
            <div class="form-group">
              <div class="row">
                <label for="year" class="col-lg-2 control-label">
                  연도
                </label>
                <div class="col-lg-5">
                  <select formControlName="year" id="year" class="form-control w-sm">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                  </select>
                </div>
              </div>
            </div>
    
            <div class="form-group">
              <div class="row">
                <label for="deduction_code" class="col-lg-2 control-label">
                  공제코드
                </label>
                <div class="col-lg-5">
                  <input type="text" formControlName="deduction_code" id="deduction_code"
                    class="form-control inline w-sm" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <label for="deduction_name" class="col-lg-2 control-label">
                  공제명
                </label>
                <div class="col-lg-5">
                  <input type="text" formControlName="deduction_name" id="deduction_name"
                    class="form-control inline w-sm" />
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <label for="acct_code" class="col-lg-2 control-label">
                  계정코드
                </label>
                <div class="col-lg-5">
                  <input type="text" formControlName="acct_code" id="acct_code"
                    class="form-control inline w-sm" />
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <label for="calculation_method" class="col-lg-2 control-label">
                  계산식
                </label>
                <div class="col-lg-5">
                  <div class="col-sm-offset-0" style="float: left">
                    <select formControlName="calculation_method1" id="calculation_method1" class="form-control w-s">
                      <option value="1">원</option>
                      <option value="2">십원</option>
                      <option value="3">소수점1</option>
                      <option value="4">소수점2</option>
                    </select>
                  </div>
                  <label style="float: left">&nbsp;&nbsp;&nbsp;</label>
                  <div class="col-sm-offset-0">
                    <select formControlName="calculation_method2" id="calculation_method2" class="form-control w-s">
                      <option value="1">반올림</option>
                      <option value="2">절상</option>
                      <option value="3">절사</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <label for="entry_seq" class="col-lg-2 control-label">
                  표시순서
                </label>
                <div class="col-lg-5">
                  <input type="text" formControlName="entry_seq" id="entry_seq"
                    class="form-control inline w-3x" />
                </div>
              </div>
            </div>
  
            <div class="form-group">
              <div class="row">
                <label for="etc" class="col-lg-2 control-label">
                  비고
                </label>
                <div class="col-lg-5">
                  <input type="text" formControlName="etc" id="etc"
                    class="form-control inline w-lg" />
                </div>
              </div>
            </div>
          </div>
  
          <div class="modal-footer">
            <div class="text-center">
              <button type="button" (click)="Save()" [disabled]="!inputForm.valid"
                class="btn btn-primary btn-save">완료</button>
              <button type="button" (click)="InputFormModal.hide()" class="btn btn-primary btn-cancel">취소</button>
            </div>
          </div>
        </form>
      </div>
  
  
    </div>
  
  </div>

  <div *ngIf="isLoadingProgress" class="loading-progress">

      <div class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
      </div>
  
  </div>